.card-loader {
  display: block;
  padding-bottom: 428px;
  gap: 60px;
  position: relative;
  background: white;
  padding-top: 120px;

  &::after {
    --angle: 65deg;
    content: '';
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--angle), rgba(0, 0, 0, 0) 45%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 55%);
    background-size: 200% 100%;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.4;
  }

  &--loading {
    &::after {
      display: block;
      animation: fakeBackgroundLoading 0.8s var(--ease) infinite alternate;
    }
  }

  &--new-query {
    .card {
      animation: fadeOutUp 0.5s var(--ease) forwards;
    }
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.card-list {
  max-width: calc(((var(--card-small) * var(--card-spacing) * var(--card-max))) + (var(--container-padding) * 2));
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 0 var(--container-padding);
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}