@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
    pointer-events: none;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.card {
  --card-bg: #FFF;
  $card: &;
  display: flex;
  float: left;
  width: var(--card-small);
  border-radius: 24px;
  background: var(--card-bg);
  position: relative;
  overflow: hidden;
  justify-content: flex-end;
  box-shadow: 0px 2.3px 2.2px 0px rgba(0, 0, 0, 0.01), 0px 5.3px 5.2px 0px rgba(0, 0, 0, 0.01), 0px 9.6px 9.4px 0px rgba(0, 0, 0, 0.01), 0px 16.0px 15.7px 0px rgba(0, 0, 0, 0.02), 0px 26.4px 25.9px 0px rgba(0, 0, 0, 0.02), 0px 46.2px 45.3px 0px rgba(0, 0, 0, 0.02), 0px 100px 98px 0px rgba(0, 0, 0, 0.03);
  margin-bottom: var(--card-spacing);

  &--is-loading {
    animation: fadeInUp 1s var(--ease) forwards;
  }

  // Margin-debug
  &::before,
  &::after {
    content: '';
    display: block;
    background: orange;
    position: absolute;
    z-index: 10;
    overflow: visible;
  }

  &::before {
    width: 100%;
    height: var(--card-spacing);
    bottom: calc(-1 * var(--card-spacing));
  }

  &::after {
    width: var(--card-spacing);
    height: 100%;
    right: calc(-1 * var(--card-spacing));
  }

  // ---

  &-column-sizer {
    width: var(--card-small);
  }

  &-gutter {
    width: var(--card-spacing);
  }

  // Card sizes
  &--small {
    // max-width: 370px;
    width: var(--card-small);
  }

  &--medium {
    // max-width: 470px;
    width: var(--card-medium);
  }

  &--large {
    // max-width: 766px;
    width: var(--card-large);
  }

  &--huge {
    width: var(--card-huge);
  }

  // Card directions
  &--vertical {
    min-height: 500px;
    // max-height: 500px;
    flex-direction: column;

    #{$card} {
      &__icon {
        inset: 24px;
      }
    }
  }

  &--horizontal {
    --card-small: clamp(300px, 100vw - var(--vf), 549px);
    --card-medium: clamp(300px, 100vw - var(--vf), 670px);
    --card-large: clamp(300px, 100vw - var(--vf), 966px);
    gap: 24px;
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: auto 1fr;

    @media screen and (max-width: 768px) {
      grid-template-areas:
        "image"
        "text";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }

    #{$card} {
      // &--small {
      //   max-width: 549px;
      // }

      // &--medium {
      //   max-width: 670px;
      // }

      // &--large {
      //   max-width: 966px;
      // }

      // &--huge {
      //   max-width: 1024px;
      // }

      &__background {
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 768px) {
          max-width: 201px;
        }
      }

      &__text {
        align-items: stretch;
        justify-content: center;

        @media screen and (max-width: 768px) {
          padding-top: 0;
        }

        @media screen and (min-width: 768px) {
          padding-left: 0;
        }
      }

      &__icon {
        inset: 16px;
      }
    }
  }

  // Unique post layouts
  &--cta {
    justify-content: center;
  }

  &--post {
    padding: 48px;
    gap: 84px;

    @media screen and (max-width: 1024px) {
      gap: 42px;
      padding: 24px;
      grid-template-areas:
        "image"
        "text";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }

    #{$card} {
      &__background {
        width: 100%;
        max-width: 468px;
        border-radius: 20.077px;
        box-shadow: 0px 4.75px 3.80px 0px rgba(39, 5, 33, 0.02), 0px 11.43px 9.14px 0px rgba(39, 5, 33, 0.03), 0px 21.52px 17.22px 0px rgba(39, 5, 33, 0.04), 0px 38.40px 30.71px 0px rgba(39, 5, 33, 0.04), 0px 71.80px 57.44px 0px rgba(39, 5, 33, 0.05), 0px 171.87px 137.50px 0px rgba(39, 5, 33, 0.07);

        @media screen and (max-width: 1024px) {
          max-width: 100%;
          max-height: 379px;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(21deg, #623097 0%, rgba(98, 48, 151, 0.00) 51.66%), rgba(211, 211, 211, 0) 50% / cover no-repeat;
        }
      }

      &__text {
        @media screen and (max-width: 768px) {
          padding-top: inherit;
        }

        @media screen and (max-width: 768px) {
          padding-left: inherit;
        }
      }
    }
  }

  // Individual components
  &__play-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 142px;
    min-height: 57px;
    padding: 10.038px 13.385px;
    gap: 13.385px;
    border-radius: 83.653px;
    background: #623097;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 1024px) {
      min-width: 127px;
      min-height: 50px;
    }

    &:hover {
      background: #8B60C0;
    }
  }

  &__play-icon {
    max-width: 36px;
    max-height: 36px;

    @media screen and (max-width: 1024px) {
      max-width: 30px;
      max-height: 30px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__play-text {
    color: #FFF;
    font-family: var(--inter);
    font-size: 20.077px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.615px;
    letter-spacing: -0.402px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__author {
    color: #623097;
    font-family: var(--inter);
    font-size: 19.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.4px;
    letter-spacing: -0.384px;
    margin-bottom: 11px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 32px;
    margin-top: 24px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(164, 122, 189, 0.20);

    &+#{$card}__message:not(:empty) {
      margin-top: 0;
    }
  }

  &__message-label {
    color: #623097;
    font-family: var(--inter);
    font-size: 14.4px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px;
    /* 200% */
    letter-spacing: -0.288px;
  }

  &__date {
    color: rgba(59, 46, 88, 0.70);
    font-family: var(--inter);
    font-size: 14.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.06px;
    /* 174.028% */
  }

  &__background {
    display: block;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: all 0.3s;

    &--hidden {
      height: 0;

      img {
        height: 0;
      }
    }

    &::before {
      content: '';
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      background: linear-gradient(16deg, #D59DFF 0%, rgba(213, 157, 255, 0.00) 54.69%);
    }

    &--overlay {
      &::before {
        display: block;
      }
    }

    &>img {
      width: 100%;
      height: 100%;
      min-width: 201px;
    }

    .img-loading {
      display: block;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      min-width: 201px;
    }

    .img-loading {
      background: rgba(134, 39, 255, 0.40);
    }
  }

  &__text {
    background: var(--card-bg);
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    // flex: 0 1 auto;

    &--cta {
      border-radius: 16px;
      background: rgba(95, 38, 153, 0.70);
      backdrop-filter: blur(14px);
      margin: 0 24px;
      width: calc(100% - 48px);
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      #{$card} {
        &__title {
          font-family: font(--helvetica-neue);
          font-size: 22px;
          font-weight: 700;
          line-height: 26px;
          letter-spacing: -0.44px;
        }

        &__message {
          font-family: font(--helvetica);
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.14px;
        }

        &__title,
        &__message {
          color: #FFF;
          text-align: center;
          font-style: normal;
        }
      }
    }

    &--full-text {
      padding: 124px 40px;
      inset: 0;
      // flex: 1 1 auto;
    }

    &--transparent {
      padding: 24px 30px;
      background: transparent;
      position: absolute;
      bottom: 0;

      #{$card} {

        &__title,
        &__message {
          color: #FFF;
        }

        &__title {
          color: #FFF;
          font-family: var(--helvetica);
          font-size: 38px;
          font-style: normal;
          font-weight: 700;
          line-height: 42px;
          letter-spacing: -0.76px;
          text-transform: capitalize;
          leading-trim: both;
          text-edge: cap;
        }
      }
    }
  }

  &__spacer {
    padding-top: 94px;
  }

  &__title,
  .title-loading {
    color: #3B2E58;
    font-family: var(--helvetica);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.64px;
    text-transform: capitalize;
    text-align: left;
    leading-trim: both;
    text-edge: cap;
    margin: 0;
  }

  .title-loading {
    height: 46px;
    background: pink;
    border-radius: 50.18px;
    background: #F25326;
    // background: linear-gradient(270deg, #FFE7E0, #F25326, #FFE7E0);
    animation: fillingIn 1s var(--ease) forwards;
    background-size: 200% 100%;
  }

  &__message,
  .message-loading {
    color: #6F6090;
    font-family: var(--helvetica-neue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }

  &__message {
    &:not(:empty) {
      margin-top: 25px;
    }
  }

  .message-loading {
    height: 13px;
    background: pink;
    border-radius: 17.921px;
    background: #F25326;
    margin-top: 25px;
    animation: fillingInSmall 1.2s var(--ease) forwards;
  }
}

.content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  max-width: 46px;
  max-height: 46px;
  position: absolute;
}

@keyframes fakeBackgroundLoading {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

@keyframes fillingIn {
  0% {
    transform: scaleX(0.55);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes fillingInSmall {
  0% {
    transform: scaleX(0.25);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}