@use './resets.scss';

:root {
  --helvetica: 'Helvetica Now Display', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --helvetica-neue: 'Helvetica Neue', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ease: cubic-bezier(.72, 0, .33, 1);
  --max-width: 1366px;
  --container-padding: 30px;
  --card-max: 3;
  --card-spacing: 40px;
  --vf: calc((var(--card-spacing) * 2) - var(--container-padding));
  --container-size: calc(((var(--card-small) * var(--card-spacing) * var(--card-max))) - (var(--container-padding) * 2));
  --card-small: clamp(240px, 100vw - var(--vf), min(370px, 100%));
  --card-medium: clamp(240px, 100vw - var(--vf), min(470px, 100%));
  --card-large: clamp(240px, 100vw - var(--vf), min(766px, 100%));
  --card-huge: clamp(240px, 100vw - var(--vf), var(--container-size));
}

html,
body {
  font-family: var(--inter);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

#app {
  max-width: var(--max-width);
  margin: 0 auto;
}

body {
  display: block;
  min-height: 100vh;
}